# Server Port, defaults to 3000
PORT=3000

# DB for Production (mandatory)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=linkbox-db
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?sslmode=disable

# DB for Tests
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=topsecret
TEST_POSTGRES_DB=test-linkbox-db
TEST_DB_HOST=localhost
TEST_DB_PORT=5432

# Redis instance
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_INDEX_NAME=linkboxIndex

# Secret Key for Authentication
SECRET=akuadalahanakgembalaselaluriang---1
