<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/styles.css" />
    <link href="/node_modules/material-symbols/index.css" rel="stylesheet" />
    <title>Home - Linkbox</title>
  </head>
  <body>
    <div class="drawer md:drawer-open">
      <input type="checkbox" id="main-drawer" class="drawer-toggle" />
      <div class="drawer-content">
        <nav class="navbar sticky top-0 px-4">
          <label
            for="main-drawer"
            class="btn btn-ghost btn-square mr-4 md:hidden"
          >
            <span class="material-symbols-outlined">menu</span>
          </label>

          <p class="text-lg font-semibold">Home</p>

          <div class="ml-auto">
            <details class="dropdown dropdown-end">
              <summary class="btn btn-ghost btn-square">
                <span class="material-symbols-outlined">sort</span>
              </summary>
              <ul
                class="menu dropdown-content z-[1] bg-base-200 rounded-xl w-80"
              >
                <li>
                  <a href="?orderBy=created_at&sort=asc"
                    >Creation date (ascending)</a
                  >
                </li>
                <li>
                  <a href="?orderBy=created_at&sort=asc"
                    >Creation date (descending)</a
                  >
                </li>
                <li>
                  <a href="?orderBy=updated_at&sort=desc"
                    >Modified date (ascending)</a
                  >
                </li>
                <li>
                  <a href="?orderBy=updated_at&sort=desc"
                    >Modified date (descending)</a
                  >
                </li>
              </ul>
            </details>
          </div>
        </nav>

        <div class="p-4">
          {{if .Links}} {{range $link := .Links}}
          <article id="{{$link.ID}}" class="card card-compact bg-base-200 mb-4">
            <div class="card-body">
              <p class="mb-0.5">{{$link.Title}}</p>
              <p>
                <a href="{{$link.URL}}" class="text-xs"> {{$link.URL}} </a>
              </p>
              <p>{{$link.Description}}</p>
            </div>
          </article>
          {{else}}
          <div class="flex flex-cols items-center p-16">
            <p class="text-center">Empty</p>
          </div>
          {{end}} {{end}}
        </div>
      </div>
      <div class="drawer-side">
        <label for="main-drawer" class="drawer-overlay"></label>
        <div class="w-80 min-h-full bg-base-200 text-base-content">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/link/new">New</a></li>
            <li></li>
            <li><a href="/" class="text-error">Log out</a></li>
          </ul>

          <ul class="menu">
            <li class="menu-title">Folders</li>
            {{range $e := .Folders}}
            <li><a href="/">{{$e.UniqueName}}</a></li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
