<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Linkbox</title>
  </head>
  <body>
    <aside>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Search</a></li>
        <li><a href="/">New</a></li>
      </ul>

      <p>Folders</p>
      <ul>
        <li><a href="/">music</a></li>
        <li><a href="/">entertainment</a></li>
        <li><a href="/">university</a></li>
        <li><a href="/">programming</a></li>
      </ul>
    </aside>

    <main>
      <article>
        <p>How To Disappear Completely - Radiohead</p>
        <p>
          <a href="https://www.youtube.com/watch?v=TZIUtnWwcKg"
            >www.youtube.com/watch?v=TZIUtnWwcKg</a
          >
        </p>
        <p>
          ////RadioheadHow to Disappear CompletelyLive at Saitama Super Arena,
          Saitama, Japan 05.10.2008lyrics:That there, that's not meI go where I
          pleaseI walk throu...
        </p>
      </article>
    </main>
  </body>
</html>
