{{define "sidebar"}}
<div class="drawer-side">
  <label for="main-drawer" class="drawer-overlay"></label>
  <div class="w-80 min-h-full bg-base-200 text-base-content">
    <ul class="menu" hx-boost="true">
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li><button onclick="new_link_modal.showModal()">New</button></li>
      <li></li>
      <li><a href="/auth/delete" class="text-error">Log out</a></li>
    </ul>

    <ul class="menu">
      <li class="menu-title inline-flex">Folders</li>
      {{range $e := .Folders}}
      <li><a href="/folders/{{$e.ID}}/links">{{$e.UniqueName}}</a></li>
      {{end}}

      <button
        class="btn btn-neutral btn-sm mt-4 mx-auto normal-case"
        onclick="new_folder_modal.showModal()"
      >
        New Folder
      </button>
    </ul>
  </div>
</div>
{{end}}
