{{define "navbar"}}
<nav class="navbar sticky top-0 px-4">
  <label for="main-drawer" class="btn btn-ghost btn-square mr-4 md:hidden">
    <span class="material-symbols-outlined">menu</span>
  </label>

  <p class="text-lg font-semibold">Home</p>

  <div class="ml-auto">
    <details class="dropdown dropdown-end">
      <summary class="btn btn-ghost btn-square">
        <span class="material-symbols-outlined">sort</span>
      </summary>
      <ul class="menu dropdown-content z-[1] bg-base-200 rounded-xl w-80">
        <li>
          <a href="?orderBy=created_at&sort=asc">Creation date (ascending)</a>
        </li>
        <li>
          <a href="?orderBy=created_at&sort=asc">Creation date (descending)</a>
        </li>
        <li>
          <a href="?orderBy=updated_at&sort=desc">Modified date (ascending)</a>
        </li>
        <li>
          <a href="?orderBy=updated_at&sort=desc">Modified date (descending)</a>
        </li>
      </ul>
    </details>
  </div>
</nav>
{{end}}
