<dialog
  id="new_link_modal"
  class="modal modal-bottom sm:modal-middle modal-open"
>
  <form class="modal-box" hx-post="/links" hx-target="body" hx-swap="outerHTML">
    <h3 class="font-bold text-lg mb-4">Create new link</h3>
    <div class="grid grid-cols-4 mb-2">
      <label for="url" class="col-span-1">URL</label>
      <input
        type="url"
        name="URL"
        class="col-span-3 input input-sm input-bordered text-xs sm:text-base"
        value="{{.InitialFormValue.URL}}"
      />
    </div>
    <div class="grid grid-cols-4 mb-2">
      <label for="title" class="col-span-1">Title</label>
      <input
        type="text"
        name="title"
        class="col-span-3 input input-sm input-bordered"
        value="{{.InitialFormValue.Title}}"
      />
    </div>
    <div class="grid grid-cols-4 mb-2">
      <label for="description" class="col-span-1">Description</label>
      <input
        type="text"
        name="description"
        class="col-span-3 input input-sm input-bordered"
        value="{{.InitialFormValue.Description}}"
      />
    </div>
    <div class="grid grid-cols-4 mb-2">
      <label for="folderId" class="col-span-1">Folder</label>
      <select
        name="folderId"
        class="col-span-3 select select-sm select-bordered"
        value="{{.InitialFormValue.Description}}"
      >
        <option>Choose folder...</option>
        {{$root := .}} {{range $i := .Folders}} {{if (eq $i.ID
        $root.InitialFormValue.FolderID)}}
        <option value="{{$i.ID}}" selected>{{$i.UniqueName}}</option>
        {{else}}
        <option value="{{$i.ID}}">{{$i.UniqueName}}</option>
        {{end}} {{end}}
      </select>
    </div>
    {{range $e := .Errors}}
    <div class="alert alert-error my-4">{{$e}}</div>
    {{end}}
    <input type="hidden" name="userId" value="{{.User.ID}}" />
    <div class="modal-action">
      <button
        type="button"
        class="btn btn-ghost"
        onclick="new_link_modal.remove()"
      >
        Cancel
      </button>
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
</dialog>
