{{define "sidebar"}}
<div class="drawer-side z-50">
  <label for="main-drawer" class="drawer-overlay"></label>
  <div class="w-80 min-h-full bg-base-200 text-base-content">
    <div class="px-6 pt-8 pb-3">
      <p class="text-lg">Welcome, {{.User.Username}}</p>
    </div>
    <ul class="menu" hx-boost="true">
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li>
        <button hx-get="/links/new" hx-target="body" hx-swap="beforeend">
          New
        </button>
      </li>
      <li></li>
      <li><a href="/auth/delete" class="text-error">Log out</a></li>
    </ul>

    <ul class="menu">
      <li class="menu-title inline-flex">Folders</li>
      {{range $e := .Folders}}
      <li><a href="/folders/{{$e.ID}}/links">{{$e.UniqueName}}</a></li>
      {{end}}

      <button
        class="btn btn-neutral btn-sm mt-4 mx-auto normal-case"
        hx-get="/folders/new"
        hx-target="body"
        hx-swap="beforeend"
      >
        New Folder
      </button>
    </ul>
  </div>
</div>
{{end}}
