{{define "newLinkModal"}}
<dialog id="new_link_modal" class="modal modal-bottom sm:modal-middle">
  <form action="/links" method="post" class="modal-box">
    <h3 class="font-bold text-lg mb-4">Create new link</h3>
    <div class="grid grid-cols-4 mb-2">
      <label for="url" class="col-span-1">URL</label>
      <input
        type="url"
        name="URL"
        class="col-span-3 input input-sm input-bordered text-xs sm:text-base"
      />
    </div>
    <div class="grid grid-cols-4 mb-2">
      <label for="title" class="col-span-1">Title</label>
      <input
        type="text"
        name="title"
        class="col-span-3 input input-sm input-bordered"
      />
    </div>
    <div class="grid grid-cols-4 mb-2">
      <label for="description" class="col-span-1">Description</label>
      <input
        type="text"
        name="description"
        class="col-span-3 input input-sm input-bordered"
      />
    </div>
    <div class="grid grid-cols-4 mb-2">
      <label for="folderId" class="col-span-1">Folder</label>
      <select
        name="folderId"
        class="col-span-3 select select-sm select-bordered"
      >
        <option>Choose folder...</option>
        {{range $i := .Folders}}
        <option value="{{$i.ID}}">{{$i.UniqueName}}</option>
        {{end}}
      </select>
    </div>
    <input type="hidden" name="userId" value="{{.User.ID}}" />
    <div class="modal-action">
      <button
        type="button"
        class="btn btn-ghost"
        onclick="new_link_modal.close()"
      >
        Cancel
      </button>
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
</dialog>
{{end}}
