{{define "newFolderModal"}}
<dialog id="new_folder_modal" class="modal modal-bottom sm:modal-middle">
  <form action="/folders" method="post" class="modal-box">
    <h3 class="font-bold text-lg mb-4">Create new folder</h3>
    <div class="grid grid-cols-4 mb-2">
      <label for="uniqueName" class="col-span-1">Unique Name</label>
      <input
        type="text"
        name="uniqueName"
        required
        class="col-span-3 input input-sm input-bordered"
      />
    </div>
    <input type="hidden" name="userId" value="{{.User.ID}}" />
    <div class="modal-action">
      <button class="btn btn-ghost" formmethod="dialog">Cancel</button>
      <button class="btn">Save</button>
    </div>
  </form>
</dialog>
{{end}}
