{{define "head"}}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/dist/styles.css" />
  <link href="/node_modules/material-symbols/index.css" rel="stylesheet" />
  <script src="/node_modules/htmx.org/dist/htmx.min.js"></script>
  <script src="/node_modules/hyperscript.org/dist/_hyperscript.min.js"></script>

  <!-- Primary Meta Tags -->
  <title>{{.PageMetaData.Title}}</title>
  <meta name="title" content="{{.PageMetaData.Title}}" />
  <meta name="description" content="{{.PageMetaData.Description}}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://metatags.io/" />
  <meta property="og:title" content="{{.PageMetaData.Title}}" />
  <meta property="og:description" content="{{.PageMetaData.Description}}" />
  {{if .PageMetaData.ImageURL}}
  <meta property="og:image" content="{{.PageMetaData.ImageURL}}" />
  {{end}}

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://metatags.io/" />
  <meta property="twitter:title" content="{{.PageMetaData.Title}}" />
  <meta
    property="twitter:description"
    content="{{.PageMetaData.Description}}"
  />
  {{if .PageMetaData.ImageURL}}
  <meta property="twitter:image" content="{{.PageMetaData.ImageURL}}" />
  {{end}}
</head>
{{end}}
