{{define "linkCards"}} {{$root := .}}
<div class="p-4">
  {{if .Links}} {{range $link := .Links}}
  <article id="link_{{$link.ID}}" class="card card-compact bg-base-200 mb-4">
    <div class="card-body">
      <p class="mb-0.5">{{$link.Title}}</p>
      <p>
        <a href="{{$link.URL}}" class="text-xs"> {{$link.URL}} </a>
      </p>
      <p>{{$link.Description}}</p>
      <div class="card-actions mt-3 items-center">
        <ul class="menu menu-horizontal p-0">
          <li class="text-error">
            <button
              hx-get="/links/{{$link.ID}}/delete"
              hx-target="body"
              hx-swap="beforeend"
            >
              <span class="sr-only">Delete</span>
              <span
                class="material-symbols-outlined text-error"
                style="font-size: 18px"
              >
                delete
              </span>
            </button>
          </li>
          <li>
            <button
              hx-get="/links/{{$link.ID}}/edit"
              hx-target="body"
              hx-swap="beforeend"
            >
              <span class="sr-only">Edit</span>
              <span class="material-symbols-outlined" style="font-size: 18px">
                edit
              </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </article>
  {{end}}
  <button
    class="btn mt-6 text-center"
    hx-get="/folders/{{.FolderID}}/links/fragment?page={{.NextPage}}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="revealed"
  >
    Load more
  </button>
  {{else}}
  <div class="flex justify-center p-16">
    <p class="text-center">Empty</p>
  </div>
  {{end}}
</div>
{{end}}
